<h1 class="center-align teal-text lighten-3">Donut Shop</h1>

<div class="row">
    <div class="col s12">
        <img style="width:100%;height:auto;" class="responsive-img" alt="donut banner" src="https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-donut-fresh-banner-image_178296.jpg">
    </div>
</div>
    <div class="row">
        <div class="col s4">
        <img class="responsive-img" alt="donuts1" src="https://thestacker.com/sites/default/files/styles/properly_sized_image/public/2018-05/Screen%20Shot%202018-05-14%20at%2012.55.14%20PM.png?itok=ZuSl7L7-">
        </div>
        <div class="col s4">
            <img class="responsive-img" alt="donuts2" src="https://media3.s-nbcnews.com/j/newscms/2018_44/2631486/181103-donut-city-seal-beach-ew-1228p_aa041e2147eeaf7955fc1111b51f91de.fit-760w.jpg">
        </div>
        <div class="col s4">
            <img class="responsive-img" alt="donuts3" src="http://wheninhuntington.com/wp-content/uploads/2018/02/Golden-Boy-Donut-Shop.jpg">
        </div>
    </div>
